{{extend 'layout.html'}}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{=URL('static','css/default.css')}}">
</head>
<style>
        th { background-color: #2196F3;
            color:#ffffff; }
        td { background-color: #E3F2FD;
        color:black}
        a {align-items: center}
    </style>
<body>
<h1 class="text-center">Weekly Light Switches Schedule</h1>

<div class="table-responsive">
    <table class="table table-bordered text-center" >
        <tr>
            <th class="text-center">Day of week</th>
            <th class="text-center">Light Switch Schedule</th>
        </tr>

        <tr>
            <td>Sunday</td>
            <td>
                <ul id="SundayList">
                {{for row in db(db.switches.day_of_week=='Sunday').select(orderby='time_start'):}}
                    <li>
                        <a href="">{{=row.time_start}} -- {{=row.status}}</a>
                    </li>
                {{pass}}
                </ul>
            </td>
        </tr>
        <tr>
            <td>Monday</td>
            <td>
                <ul id="MondayList">
                {{for row in db(db.switches.day_of_week=='Monday').select(orderby='time_start'):}}
                    <li>
                        <a href="">{{=row.time_start}} -- {{=row.status}}</a>
                    </li>
                {{pass}}
                </ul>
            </td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>
                <ul id="TuesdayList">
                {{for row in db(db.switches.day_of_week=='Tuesday').select(orderby='time_start'):}}
                    <li>
                        <a href="">{{=row.time_start}} -- {{=row.status}}</a>
                    </li>
                {{pass}}
                </ul>
            </td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>
                <ul id="WednesdayList">
                {{for row in db(db.switches.day_of_week=='Wednesday').select(orderby='time_start'):}}
                    <li>
                        <a href="">{{=row.time_start}} -- {{=row.status}}</a>
                    </li>
                {{pass}}
                </ul>
            </td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>
                <ul id="ThursdayList">
                {{for row in db(db.switches.day_of_week=='Thursday').select(orderby='time_start'):}}
                    <li>
                        <a href="">{{=row.time_start}} -- {{=row.status}}</a>
                    </li>
                {{pass}}
                </ul>
            </td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>
                <ul id="FridayList">
                {{for row in db(db.switches.day_of_week=='Friday').select(orderby='time_start'):}}
                    <li>
                        <a href="">{{=row.time_start}} -- {{=row.status}}</a>
                    </li>
                {{pass}}
                </ul>
            </td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>
                <ul id="SaturdayList">
                {{for row in db(db.switches.day_of_week=='Saturday').select(orderby='time_start'):}}
                    <li>
                        <a href="">{{=row.time_start}} -- {{=row.status}}</a>
                    </li>
                {{pass}}
                </ul>
            </td>
        </tr>



    </table>
</div>
<hr>
<div class="center">
<a href="form2.html" class="btn btn-large btn-primary">Add new setting</a>
<a href="/HomeAutomation/default/frontpage.html" class="btn btn-large btn-primary">Main menu</a>
</div>
</body>
</html>