{{extend 'layout.html'}}
<pre>
    This button enables you to set the home location of your hub.
    Use this when you set up the hub with each device that controls the smart home suite.
</pre>
<button onclick="getLoaction()">Send Location to Hub</button>
<script type="text/javascript">
    function getLoaction() {
        navigator.geolocation.getCurrentPosition(postLocation)
        function postLocation(position)
        {
            jQuery.post('{{=URL('location')}}', {lat: +position.coords.latitude, lng: +position.coords.longitude});
        }
    }
</script>