{{extend 'layout.html'}}
<html>
<h1>Specific Room Setting</h1>

<h2>
    <script language="JavaScript">
        function set() {
            var target = event.target;
            if (target.value == "On") {
                target.value = "Off";
            }
            else {
                target.value = "On";
            }
        }

    </script>

    <form name="form1" method="post" action="">
        Room1: Currently
        <input class="btn btn-large btn-primary" name="ok" type="button" id="ok" value="On" onClick="set();">
    </form>

    <form name="form1" method="post" action="">
        Room2: Currently
        <input class="btn btn-large btn-primary" name="ok" type="button" id="ok" value="On" onClick="set();">
    </form>

    <form name="form1" method="post" action="">
        Room3: Currently
        <input class="btn btn-large btn-primary" name="ok" type="button" id="ok" value="On" onClick="set();">
    </form>

    <form name="form1" method="post" action="">
        Room4: Currently
        <input class="btn btn-large btn-primary" name="ok" type="button" id="ok" value="On" onClick="set();">
    </form>

    <a href="/HomeAutomation/default/frontpage.html" class="btn btn-large btn-primary">Main menu</a>

</h2>
</html>