{{extend 'layout.html'}}

<html>
<h1>Room Control</h1>

<h3>
    <form action="" method="get">
        Set temperature to: <input type="integer" name="temp"/>
        <input type="submit" value="Submit">
    </form>
    <br/>
    Fan: <input type="button" value="On" onclick="" class="btn btn-large btn-primary">
    <input type="button" value="Off" onclick="" class="btn btn-large btn-primary">
    <br/>
    <br/>
    Heat/Cool: <input type="button" value="Heat" onclick="" class="btn btn-large btn-primary">
    <input type="button" value="Cool" onclick="" class="btn btn-large btn-primary">
    <input type="button" value="Off" onclick="" class="btn btn-large btn-primary">
    <br/>
    <br/>
    <a href="/HomeAutomation/default/frontpage.html" class="btn btn-large btn-primary">Main menu</a>
</h3>
</html>