# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

*.1-3b960c5b-2119-4eb4-9959-8fa0ae1590e0

web2py/applications/HomeAutomation/errors/127.0.0.1.2015-04-13.15-13-42.fa8acd62-650e-400f-9f28-cc821afd0fcf

*.1-3b960c5b-2119-4eb4-9959-8fa0ae1590e0

*.b54ceb2f-9bf4-4cb4-960d-24b48a7f4e76

web2py/httpserver.pid
web2py/applications/HomeAutomation/errors/
web2py/applications/admin/sessions/