{{extend 'layout.html'}}

{{block header}}
<header class="container-fluid background">
    <div class="jumbotron text-center">
    {{if response.title:}}
        <h1>{{=response.title}}
            <small>{{=response.subtitle or ''}}</small>
        </h1>
    {{pass}}
    </div>
</header>
{{end}}

<html>
<body>
<h1>
    <center>Welcome to the home automation system!</center>
</h1>
<form action="/HomeAutomation/settings/thermostat" method="get">
    <h2>
        <center>Temperature Settings: <input class="btn btn-large btn-primary" type="submit" value="Setting"/></center>
    </h2>
</form>

<form action="/HomeAutomation/settings/light" method="get">
    <h2><center>Light Switch Setting: <input class="btn btn-large btn-primary" type="submit" value="Setting"/></center></h2>
</form>

<form action="/HomeAutomation/settings/location" method="get">
    <h2><center>Set Home Location: <input class="btn btn-large btn-primary" type="submit" value="Setting"/></center></h2>
</form>

<form action="/HomeAutomation/settings/room" method="get">
    <h2><center>Specific Room Settings: <input class="btn btn-large btn-primary" type="submit" value="Setting"/></center></h2>
</form>